<h1>Offering B</h1>
<form (ngSubmit)="submitOffering()">
  <label for="fieldA">Field A:</label>
  <input
    type="text"
    class="form-control"
    id="fieldA"
    name="fieldA"
    [(ngModel)]="fieldA"
  /><br /><br />
  <label for="fieldB">Field B:</label>
  <input
    type="text"
    class="form-control"
    id="fieldB"
    name="fieldB"
    [(ngModel)]="fieldB"
  /><br /><br />
  <label for="fieldC">Field C:</label>
  <input
    type="text"
    class="form-control"
    id="fieldC"
    name="fieldC"
    [(ngModel)]="fieldC"
  /><br /><br />
  <label for="fieldD">Field D:</label>
  <input
    type="text"
    class="form-control"
    id="fieldD"
    name="fieldD"
    [(ngModel)]="fieldD"
  /><br /><br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
